.layout-header {
  $horizontal-position: 0;

  position: fixed;
  right: $horizontal-position;
  left: $horizontal-position;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: $secondary-font-family;

  &__title {
    flex: 1;
  }

  &__link {
    text-decoration: none;

    [data-theme='normal'] & {
      color: rgba($color-rhino, 1);
    }

    [data-theme='white'] & {
      color: rgba($color-white, 1);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__menu-main {
    $horizontal-margin: 10px;

    margin-right: $horizontal-margin;
    margin-left: $horizontal-margin;
    text-align: center;
  }

  &__menu-language {
    flex: 1;
    text-align: right;
  }
}
