.layout-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 98px 30px;
  box-sizing: border-box;

  [data-state="editmode"] & {
    min-height: calc(100vh - 40px);
  }

  [data-state="publicmode"] & {
    min-height: 100vh;
  }

  //&--main {
  //}

  &--with-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 1100px;

    &--focus-content {
      $horizontal-margin: 50px;

      padding: 32px 28px;
      margin-right: $horizontal-margin;
      margin-left: $horizontal-margin;
      background-color: rgba($color-jade, .5);
    }
  }

  &__body {
    display: flex;

    &--features-wrap {
      align-items: flex-end;
      margin-top: 45px;
    }
  }

  &__col {
    &--body {
      flex-grow: 1;
    }

    &--two-col {
      max-width: 50%;
    }

    &--features-list {
      display: flex;
    }
  }
}
