.layout-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 98px 30px;
  box-sizing: border-box;

  [data-state="editmode"] & {
    min-height: calc(100vh - 40px);
  }

  [data-state="publicmode"] & {
    min-height: 100vh;
  }

  //&--main {
  //}

  &--with-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 1100px;

    &--focus-content {
      $horizontal-margin: 50px;

      padding: 32px 28px;
      margin-right: $horizontal-margin;
      margin-left: $horizontal-margin;
      background-color: rgba($color-jade, .5);
    }
  }

  &__body {
    &--features-wrap {
      display: flex;
      align-items: flex-end;
      margin-top: 45px;
    }

    &--cols {
      display: flex;
      justify-content: space-between;
    }

    &--bottom {
      margin-top: 50px;
    }
  }

  &__col {
    &--features-list {
      display: flex;
    }

    &--stretch {
      flex-grow: 1;
    }

    &--two-col {
      width: 50%;
      max-width: 500px;

      // scss-lint:disable NestingDepth
      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }
      // scss-lint:enable NestingDepth
    }
  }
}
