.layout-content {
  display: flex;
  align-items: center;
  justify-content: center;

  [data-state="is-editmode"] & {
    min-height: calc(100vh - 40px);
  }

  [data-state="is-publicmode"] & {
    min-height: 100vh;
  }

  //&--main {
  //}

  &__wrap {
    background-color: rgba($color-jade, .5);
  }
}
