.layout {
  margin: 0;
}

.layout-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
[data-state="is-editmode"] .layout-content {
  min-height: calc(100vh - 40px);
}
[data-state="is-publicmode"] .layout-content {
  min-height: 100vh;
}
.layout-content__wrap {
  background-color: rgba(0, 169, 110, 0.5);
}
