// =============================================================================
// MAIN STYLSEHEET
//
// Uncomment the partials you want to use in your template and comment out those
// that you don't need.
// =============================================================================

// 3RD PARTY COMPONENTS
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/breakpoint-sass/stylesheets/breakpoint';

// MODULES
@import 'modules/colors';
@import 'modules/fonts';

// BASE
@import 'layout/layout';
@import 'layout/layout-content';

// COMPONENTS

// CONTENT AREAS
@import 'content-area/container';
@import 'content-area/text';
