// =============================================================================
// MAIN STYLSEHEET
//
// Uncomment the partials you want to use in your template and comment out those
// that you don't need.
// =============================================================================

// 3RD PARTY COMPONENTS
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/breakpoint-sass/stylesheets/breakpoint';

// MODULES
@import 'modules/mixins';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/breakpoints';
@import 'modules/animations';

// GENERAL
@import 'general/states';
@import 'general/buttons';

// BASE
@import 'layout/root';
@import 'layout/layout';
@import 'layout/layout-header';
@import 'layout/layout-content';

// COMPONENTS
@import 'components/menu-main';
@import 'components/menu-language';
@import 'components/feature';
@import 'components/menu-btn';

// CONTENT AREAS
@import 'content-area/container';
@import 'content-area/text';
