.menu-main {
  @include breakpoint(max-width $tablet-1) {
    position: fixed;
    right: -205px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 205px;
    padding-top: 40px;
    padding-bottom: 16px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(white, .1);
    box-sizing: border-box;
    transition-duration: 200ms;
    transition-property: right;
  }

  [data-menu-main-state="open"] & {
    right: 0;
  }

  $whitespace: 0;

  padding-left: $whitespace;
  margin-top: $whitespace;
  margin-bottom: $whitespace;
  list-style-type: none;

  &__item {

    @include breakpoint(max-width $tablet-1) {
      display: block;
    }

    @include breakpoint($tablet-1-up) {
      display: inline-block;
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    a {
      display: block;
      padding: 8px 10px 6px;
      text-decoration: none;
      border-color: transparent;
      border-style: solid;
      border-width: 1px;

      // scss-lint:disable NestingDepth
      [data-theme='normal'] & {
        color: rgba($color-rhino, 1);
      }

      [data-theme='white'] & {
        color: rgba($color-white, 1);
      }

      &:hover {
        border-color: initial;
      }
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--selected {
      // scss-lint:disable NestingDepth
      //a {
      //}
      // scss-lint:enable NestingDepth
    }

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    &--current {
      // scss-lint:disable NestingDepth
      a {
        border-color: initial;
        border-style: solid;
        border-width: 1px;
      }
      // scss-lint:enable NestingDepth
    }

    &--untranslated {
      opacity: .3;

      // scss-lint:disable NestingDepth
      &:hover {
        opacity: .5;
      }
      // scss-lint:enable NestingDepth
    }
  }
}
