// =============================================================================
// Menu toggle button
// =============================================================================
.menu-btn {
  top:  30px;
  right: 15px;
  overflow: visible;
  font: inherit;
  line-height: .7;
  color: inherit;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition-duration: .15s;
  transition-property: filter;
  transition-timing-function: linear;

  position: fixed;
  display: inline-block;
  animation: fadein 1s;

  @include breakpoint($tablet-1-up) {
    display: none;
  }

  &:hover {
    opacity: .5;
  }

  &:focus {
    outline: 0;
  }

  &__inner {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 19px;
  }

  &__stripes {
    top: 50%;
    display: block;
    margin-top: -8px;
    background-color: rgba($color-rhino, 1);

    &,
    &::before,
    &::after {
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 4px;
      transition-duration: .15s;
      transition-property: transform;
      transition-timing-function: ease;
      background-color: rgba($color-rhino, 1);
    }

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &::before {
      top: 7px;
    }

    &::after {
      top: 14px;
    }

    [data-menu-main-state="open"] & {
      transform: translate3d(0, 7px, 0) rotate(45deg);
      right:200px;
      transition-duration: 200ms;
      transition-property: right;

      // scss-lint:disable NestingDepth
      &::before {
        opacity: 0;
        transform: rotate(-45deg) translate3d(-5.71px, -6px, 0);
      }

      &::after {
        transform: translate3d(0, -14px, 0) rotate(-90deg);
      }
      // scss-lint:enable NestingDepth
    }
  }
}
