.menu-main {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;

  &__item {
    display: inline-block;

    // TODO: Convert to BEM syntax if CMS adds support for {% menulink %} classes.
    a {
      display: block;
      text-decoration: none;

      // scss-lint:disable NestingDepth
      [data-theme='normal'] & {
        color: rgba($color-rhino, 1);
      }

      [data-theme='white'] & {
        color: rgba($color-white, 1);
      }

      &:hover {
        text-decoration: underline;
      }
      // scss-lint:enable NestingDepth
    }

    &--untranslated {
      opacity: .3;

      &:hover {
        opacity: .5;
      }
    }
  }
}
