// =============================================================================
// CUSTOM MIXINS
//
// Cross-browser hyphenation support (with fallback for Chrome)
// =============================================================================
@mixin hyphenate($boolean: true) {
  @if $boolean == true {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
  } @else {
    hyphens: none;
    word-break: normal;
    word-wrap: normal;
  }
}
